doctype
html 
    head 
        title 무통장입금 화면
        meta(charest='UTF-8')
        meta(name='viewport' content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        link(href="/css/normalize.css" rel="stylesheet")
        link(href="/css/common.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
        script(src="/js/jquery.1.12.3.min.js")
        script(src="/js/common.js")
    body 
        block content